body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  height: 100vh;
  display: grid;
  font-size: 18px;
}

#app {
  align-self: center;
  justify-self: center;
  background-color: #eee;
  text-align: center;
  width: 300px;
  padding: 27px 18px;
}

h1 {
  margin: 0;
  padding-bottom: 18px;
  font-size: 18px;
}

input {
  margin-bottom: 9px;
}

input,
button {
  padding: 9px;
  font-size: 18px;
}
